<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://maxmodenoobs.pages.dev/">
    <meta property="og:title" content="Max Mode Noobs">
    <meta property="og:description" content="Max Mode Noobs' Silly Website">
    <meta property="og:image" content="https://maxmodenoobs.pages.dev/assets/images/logo.svg">
    <title>Max Mode Noobs</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/index.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div id="navbar"
      hx-get="assets/templates/navbar.html"
      hx-trigger="load once"
      hx-swap="outerHTML">
    </div>

    <main class="flex-fill">
      <div class="py-5 my-5 text-center"> 
        <img class="d-block mx-auto mb-4 bigLogo" src="assets/images/logo.svg" alt="bigLogo"> 
        <h1 class="display-5 fw-bold text-body-emphasis">Max Mode Noobs</h1> 
        <div class="col-lg-6 mx-auto"> 
          <p class="lead mb-4">Welcome to the Max Mode Noobs website!</p>
          <p class="lead mb-4">This is a silly site to keep track of our personal max mode list and the clan's leaderboard.</p>
          <div class="gap-2 d-sm-flex justify-content-sm-center"> 
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 mb-2" 
            onclick="window.location.href='leaderboard.html'">
              Leaderboard
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 mb-2" onclick="window.location.href='beatenmodes.html'">Beaten Modes</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 mb-2" onclick="window.location.href='info.html'">Info</button> 
          </div> 
        </div> 
      </div>
    </main>

    <div id="footer"
      hx-get="assets/templates/footer.html"
      hx-trigger="load once"
      hx-swap="outerHTML">
    </div>

    <script src="assets/scripts/theme.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
  </body>
</html>