#ranking {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    max-width: 75vw;
}

.thumbnail {
    max-width: 100%;
    height: auto;
}